<p id="notice"><%= notice %></p>

<h1>Universos</h1>

<table>
  <thead>
    <tr>
      <th>Costelacion</th>
      <th>Distancia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universos.each do |universo| %>
      <tr>
        <td><%= universo.Costelacion %></td>
        <td><%= universo.Distancia %></td>
        <td><%= link_to 'Show', universo %></td>
        <td><%= link_to 'Edit', edit_universo_path(universo) %></td>
        <td><%= link_to 'Destroy', universo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Universo', new_universo_path %>
