<p id="notice"><%= notice %></p>

<p>
  <strong>Costelacion:</strong>
  <%= @universo.Costelacion %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @universo.Distancia %>
</p>

<%= link_to 'Edit', edit_universo_path(@universo) %> |
<%= link_to 'Back', universos_path %>
