<p id="notice"><%= notice %></p>

<p>
  <strong><font color="white">Galaxia:</font></strong>
  <%= @astronomium.Galaxia %>
</p>

<p>
  <strong>Planeta:</strong>
  <%= @astronomium.Planeta %>
</p>

<p>
  <strong>Estrella:</strong>
  <%= @astronomium.Estrella %>
</p>

<p>
  <strong>Luna:</strong>
  <%= @astronomium.Luna %>
</p>

<%= link_to 'Edit', edit_astronomium_path(@astronomium) %> |
<%= link_to 'Back', astronomia_path %>
